---
import TitleDescription from '~/components/TitleDescription.astro';
import TitleHeader from '~/components/TitleHeader.astro';
import InputText from '~/components/InputText.astro';
import Layout from '~/layouts/Layout.astro';
import AddCircle from '~/components/addCircle.svelte';
---

<Layout title="Diagrama">
    <section id="diagram" class="grid grid-cols-5 py-10 gap-4">
        <div class="col-start-2 col-end-4 flex-col space-y-4">
            <TitleHeader title="Diagrama de emergencia" />
            <TitleDescription title="Marca las afectadas áreas" />
            <img
                src="plano.jpeg"
                class="w-full aspect-square rounded-lg border-2 border-gray border-gray-300"
            />
            <InputText />   
            <div class="flex w-full space-x-4">
                <a
                    id="agregar"
                    type="button"
                    class="text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline"
                    style="background-color: #ED1C24; border-radius: 10px;"
                    href="/"
                >
                    Cerrar
                </a>
                <a
                    id="agregar"
                    type="button"
                    class="text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline"
                    style="background-color: #ED1C24; border-radius: 10px;"
                    href="/"
                >
                    Generar
                </a>
            </div>
        </div>
        <div class="flex flex-col row-start-1 col-start-4">
            <TitleDescription title="Herramientas" />
            <AddCircle client:load /> 
            <div
                class="flex flex-col space-y-4 items-center border-4 border-gray p-2 rounded-lg"
            >
                <button
                    id="agregar"
                    type="button"
                    class="text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline"
                    style="background-color: #ED1C24; border-radius: 10px;"
                >
                    Agregar circulo
                </button>
                <button
                    id="agregar"
                    type="button"
                    class="text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline bg-blue-600"
                    style="border-radius: 10px;"
                >
                    Agregar punto
                </button>
            </div>
        </div>
    </section>
</Layout>
