---
import TitleDescription from './TitleDescription.astro';
---

<section>
    <TitleDescription title="Jr. Cerró Azul 227, santiago de Surco 15803" />
    <TitleDescription title="Fecha Inicio:" suffix="04/06/2024 - 09:30 a.m" />
</section>