---
import type { Equipment } from '~/types';
import TitleDescription from './TitleDescription.astro';

interface Props {
    equipment: Equipment;
}

const { equipment } = Astro.props;
---

<div
    class="flex space-x-4 items-center border-4 border-gray px-2 py-5 rounded-lg"
>
    <img src="Group 19.png" class="w-14 h-14" />
    <TitleDescription title={equipment.name} />
</div>
