---
import type { Equipment } from '~/types';
import TitleHeader from './TitleHeader.astro';
import EquipmentCard from './EquipmentCard.astro';

interface Props {
    title: string;
    equipments: Array<Equipment>;
}

const { equipments, title } = Astro.props;
---

<section class="flex-col space-y-2">
    <div class="flex justify gap-2">
        <img src="resources.png">
        <TitleHeader title={title} />
    </div>
    <div class="grid grid-cols-1 md:grid-cols-3 gap-4 py-4">
    {equipments.map((equipment) => <EquipmentCard equipment={equipment} />)}
    </div>
</section>
