---

---

<div class="border-2 border-gray p-4 rounded-lg">
    <textarea
        rows="5"
        class="shadow appearance-none border w-full py-2 px-3
    leading-tight focus:outline-none focus:shadow-outline border-gray p-5 rounded-lg"
        placeholder="Estación de almacen..."></textarea>
</div>
