---
import type { Employee } from '~/types';
import TitleHeader from './TitleHeader.astro';
import TitleDescription from './TitleDescription.astro';
import PersonnelCard from './PersonnelCard.astro';

interface Props {
    title: string;
    staff: Array<Employee>;
}

const { staff, title } = Astro.props;
---


<section class="flex-col space-y-2">
    <div class="flex justify gap-2">
        <img src="staff.svg">
        <TitleHeader title={title} />
    </div>
    <TitleDescription
        customColor="text-accent"
        title={staff.length + ' Activos'}
    />
    <div class="grid grid-cols-1 md:grid-cols-3 gap-4 py-4">
        {staff.map((employee) => <PersonnelCard employee={employee} />)}
    </div>
</section>
