---
import type { RiskClassification } from '~/types';
import TitleDescription from './TitleDescription.astro';

interface Props {
    riskClassfication: RiskClassification;
}

const { riskClassfication } = Astro.props;
---

<div class="flex space-x-4 items-center border-2 border-gray px-3 py-2 rounded-lg">
    <img src={riskClassfication.src} class="w-20px h-20px">
    <TitleDescription title={riskClassfication.title} />
</div>