---
import type { RiskClassification } from '~/types';
import TitleHeader from './TitleHeader.astro';
import RiskClassificationCard from './RiskClassificationCard.astro';

interface Props {
    title: string;
    riskClassfications: Array<RiskClassification>;
}

const { riskClassfications, title } = Astro.props;
---

<section class="space-y-4 flex-col w-full">
    <div class="flex justify gap-2 py-4">
    <img src="icon-risk.svg">
    <TitleHeader title={title} />
    </div>
    <div class="grid grid-cols-1 md:grid-cols-2 gap-10">
        {
            riskClassfications.map((riskClassification) => (
                <RiskClassificationCard
                    riskClassfication={riskClassification}
                />
            ))
        }
    </div>
</section>

